__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv/
*.py[cod]
resultados_competencia/modelos/checkpoints/
resultados_competencia/evaluaciones/
resultados_competencia/modelos/*replay_buffer*.pkl
resultados_competencia/logs/tensorboard/
*.docx 
resultados_competencia/modelos/
reporte_laboratorio_5.md